body {
    background: url("/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
}

legend {
    padding-top: 5%;
}

.navbar-inverse {
    border-radius: 0;
}

.thumbnail {
    border-radius: 0px;
}

#mainContainer {
    margin: auto;
    width: 85%;
    max-width: 1300px;
}

#register_box {
    background-color: white;
    padding: 30px;
    box-shadow: 1px 1px 25px black;
    border-radius: 2px;
}

#registration_form {
    padding: 5% 10%;
}

#personality_form_box {
    background-color: white;
    padding: 30px;
    box-shadow: 1px 1px 25px black;
    border-radius: 2px;
}

#register_box h4 {
    text-align: center;
    margin-bottom: 15px;
}

.form_header {
    text-align: center;
    margin-bottom: 15px;
}

#login_box {
    padding: 30px;
}

#login_box button {
    height: 40px;
}

#login-form input {
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 4px;
    height: 50px;
    font-size: 18px;
}

.input-group {
    width: 100%;
}

.input-group input[type=text], 
.input-group input[type=password],
.input-group input[type=number] {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    border: thin solid grey;
    border-radius: 3px;
}

.login_text {
    margin-left: 5px;

}

.radio_box {
    float: left;
    width: 50%
}



