<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script defer="defer" src="/js/user.js"></script>
    <script defer="defer" src="/js/webSocket.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <!-- for the new chat window -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css" />

</head>
<body>
    <div th:if="${inConversation} == false">
        <div th:replace="navbar :: user_section"></div>
        <h1>Sorry, no match right now.</h1>
        <h2>Please come back later! :(</h2>
    </div>
    <div th:if="${inConversation}">
        <div th:replace="navbar :: user_section"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 th:text="${' In conversation with ' + partner.getFirstName()}"></h3>
                        </div>
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="clearfix" th:each="message: ${messages}">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font" th:text="${message.user.getFirstName()}"></strong>
                                            <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time" th:text="${#dates.format(message.date, ' HH:mm (dd-MM-yyyy)')}"></span></small>
                                        </div>
                                        <p th:text="${message.message}"></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <textarea class="form-control message" rows="2" name="message"/>
                                <button id="message" class="btn btn-success pull-right" type="submit" >Send</button>
                            </div>
                            <div>
                                <form action="/doyoulikeme" method="post">
                                    <input type="hidden" class="userId" name="userId" th:value="${user.id}" />
                                    <button class="btn btn-danger" type="submit">find a new partner</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
