<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="user_section">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid rounded-0">
            <div th:switch="${user}">
                <div th:case="null">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">TÜNDÉR</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-target="#login" class="login_modal_toggle"><span class="glyphicon glyphicon-log-in"></span><span class="login_text">Login</span></a></li>
                    </ul>
                </div>
                <ul th:case="${user}" class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span><span class="login_text">Logout</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="login" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Log in</h4>
                </div>
                <div id="login_box" class="modal-body">
                    <div th:replace="login :: login"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>