<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="register">
    <h4>Register now!</h4>
    <form>
        <div class="input-group">
            <input id="email" type="text" name="email" placeholder="E-mail Address" required="true"/>

            <input id="first_name" type="text" name="first_name" placeholder="First Name" required="true"/>

            <input id="last_name" type="text" name="last_name" placeholder="Last Name" required="true"/>

            <input id="password" type="password" name="password" placeholder="Password" required="true"/>

            <input id="password_again" type="password" name="password_again" placeholder="Re-enter Password"
                   required="true"/>

            <input id="age" type="number" name="age" placeholder="Your age" required="required"/>
            <div class='radio_box'>
                <p>I am...</p>
                <div class="radio">
                    <label><input type="radio" name="gender" value="male"/>Male</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="gender" value="female"/>Female</label>
                  </div>
            </div>
            <div class="radio_box">
                <p>Looking for...</p>
                <div class="radio">
                    <label><input type="radio" name="preference" value="male"/>Male</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="preference" value="female"/>Female</label>
                  </div>
            </div>
        </div>
        <div class="alert alert-danger register_errors">
            <ul class="errors">
            </ul>
        </div>
        <button class="btn btn-success btn-block register-button" type="button">Create Account</button>
    </form>
</div>
</body>
</html>